* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    width: 100vw;
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
}

.github{
    position: relative;
    left: 10px;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
    }
}
